/build/
*.xml
WebContent/WEB-INF/web.xml
WebContent/WEB-INF/faces-config.xml
*.xml
src/META-INF/persistence.xml
*.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
*.xml
WebContent/WEB-INF/lib/omnifaces-3.6.1.jar
*.xml
