/build/
*.xml
WebContent/WEB-INF/web.xml
src/META-INF/persistence.xml
*.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
*.xml

WebContent/WEB-INF/web.xml
src/META-INF/persistence.xml
.classpath
WebContent/WEB-INF/web.xml
src/META-INF/persistence.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
src/META-INF/persistence.xml
